.DS_Store
*.pyc
.env
out.txt
*.xml
*.iml
dynamic_histograms/data/USCensus1990.csv
dynamic_histograms/data/HIGGS.csv
dynamic_histograms/data/kddcup.csv
dynamic_histograms/data/kddcupFourtySamplesFiftyK.csv
.idea/
output/*
